<div class="card" *ngIf="mission">
    <div class="card-header d-flex justify-content-between">
        <div>
            Détail de l'offre de mission
        </div>
        <div *ngIf="mission.quiz">
            <a [routerLink]="['/missions/quiz/',mission.quiz.id]" class="btn btn-success btn-sm">Postuler une candidature</a>
        </div>
    </div>
    <div class="card-body">
        <span *ngIf="errorMessageJob" style="color: red;">
            {{ errorMessageJob }}
        </span>
        <span *ngIf="successMessageJob" style="color: green;">
            {{ successMessageJob }}
        </span>
        <div class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Title</label>
                <div class="col-md-9">
                    {{mission.title}}
                </div>
            </div>
          

      
         
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Niveau de Formation</label>
                <div class="col-md-9">
                    {{mission.formation}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">experience level</label>
                <div class="col-md-9">
                    {{mission.level}}
                </div>
            </div>

            

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Start Date</label>
                <div class="col-md-9">
                    {{mission.startDate | date : 'dd-MM-yyyy'}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                     Date fin</label>
                <div class="col-md-9">
                    {{mission.endDate | date : 'dd-MM-yyyy'}}
                </div>
            </div>

            
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Description</label>
                <div class="col-md-9">
                    {{mission.description}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Skills</label>
                <div class="col-md-9">
                    <ng-container *ngFor="let skill of mission.skills">
                        <span class="m-1 btn btn-sm btn-primary"> {{skill.label}} </span>
                    </ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Status</label>
                <div class="col-md-9">
                    <span class="mr-2"> {{mission.status}}</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Quiz</label>
                <div class="col-md-9">
                    <span>
                        <ng-container *ngIf="mission.quiz">
                            <strong>{{mission.quiz.title}} </strong>
                        </ng-container>
                        <ng-container *ngIf="!mission.quiz"> N/A </ng-container>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>