<div class="well profile">
    <div class="col-sm-12 row">
        <div class="col-8">
            <h5>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</h5>
            <p><strong>About: </strong> {{user.role}} </p>
            <p><strong>Experience: </strong> {{user.yearsExperience}} ans </p>
            <ng-container *ngIf="admin">
                <p><strong>Email: </strong> {{user.email}} </p>
                <p><strong>Created: </strong> {{user.createdAt | date}} </p>
               <p  *ngIf= "user.role!='PROVIDER'"><strong>Salary: </strong> {{user.salaire}} Dinars </p>
               <p  *ngIf= "user.role =='PROVIDER'"><strong>Tjm en presentiel: </strong> {{user.tjme}} Dinars</p>
               <p  *ngIf= "user.role =='PROVIDER'"><strong>Tjm en distanciel: </strong> {{user.tjmd}} Dinars </p>
                <p><strong>Date Of Birth: </strong> {{user.dateBirth | date}} </p>
            </ng-container>
            <p><strong>Skills: </strong>
                <ng-container *ngFor="let skill of user.skills">
                    <span class="tags">{{skill.label}}</span>
                </ng-container>
            </p>
        </div>
        <div class="col-4 text-center">
            <figure>
                <img src="https://randomuser.me/api/portraits/men/81.jpg" alt="" class="img-circle img-responsive">
            </figure>
        </div>
    </div>
    <div class="col-xs-12 divider text-center row px-3">
        <h5>Resume</h5>
        <div class="col-12 emphasis text-left">
            <p [innerHTML]="user.formation"> </p>
        </div>
    </div>
</div>