<div class="card">
  <div class="card-header bg-transparent pb-4">
    <div class="text-muted text-center mt-2">
      <small>Forgot Password ?</small>
    </div>
  </div>
  <div class="card-body px-lg-5 py-lg-5">
    <ng-container *ngIf="requestSent">
      <div>
        Your request was sent successfully to
        <strong>{{ email }}</strong>
      </div>
      <div>Please verify your inbox to reset your password.</div>
    </ng-container>
    <form *ngIf="!requestSent" role="form" [formGroup]="resetForm">
      <div class="form-group">
        <div class="error_msg" *ngIf="
                  resetForm.controls['email'].hasError('required') &&
                  resetForm.controls['email'].touched
                ">
          * Email is required!
        </div>
        <div class="error_msg" *ngIf="
                  resetForm.controls['email'].hasError('pattern') &&
                  resetForm.controls['email'].touched
                ">
          * This email format is invalid!
        </div>
        <div class="input-group input-group-alternative mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <nb-icon icon="email-outline" pack="eva"></nb-icon>
            </span>
          </div>
          <input formControlName="email" class="form-control" placeholder="Email" type="email" />
        </div>
      </div>
      <div class="text-center">
        <div class="error_msg" *ngIf="resetMsg">
          <small>{{ resetMsg }}</small>
        </div>
        <button (click)="sendReset()" type="button" [disabled]="resetForm.invalid" class="btn btn-primary mt-4">
          Send Request
        </button>
      </div>
    </form>
  </div>
</div>