<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-4">
          <div class="text-muted text-center mt-2">
            <small
              >Reset Password for <strong>{{ email }}</strong></small
            >
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <ng-container *ngIf="resetDone">
            <div class="text-center">
              <div class="p-2 mb-2">
                Your Password was updated successfully. <br />
                You can now login with your new password
              </div>
              <button class="btn btn-primary" (click)="login()">Login</button>
            </div>
          </ng-container>
          <form *ngIf="!resetDone" role="form" [formGroup]="resetForm">
            <div class="form-group">
              <div
                class="error_msg"
                *ngIf="
                  resetForm.controls['password'].hasError('required') &&
                  resetForm.controls['password'].touched
                "
              >
                * Password is required!
              </div>
              <div
                class="error_msg"
                *ngIf="
                  resetForm.controls['password'].hasError('minlength') &&
                  resetForm.controls['password'].touched
                "
              >
                * Password must be at least 8 characters long
              </div>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                  type="password"
                />
              </div>
            </div>
            <div class="form-group">
              <div
                class="error_msg"
                *ngIf="
                  resetForm.controls['confirmPassword'].hasError('required') &&
                  resetForm.controls['confirmPassword'].touched
                "
              >
                * Confirm Password is required!
              </div>
              <div
                class="error_msg"
                *ngIf="
                  resetForm.hasError('notSame') &&
                  resetForm.controls['confirmPassword'].touched
                "
              >
                * Password & Confirm Password should be same
              </div>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  formControlName="confirmPassword"
                  class="form-control"
                  placeholder="Confirm Password"
                  type="password"
                />
              </div>
            </div>
            <div class="text-center">
              <div class="error_msg" *ngIf="resetMsg">
                <small>{{ resetMsg }}</small>
              </div>
              <button
                (click)="resetPassword()"
                type="button"
                [disabled]="resetForm.invalid"
                class="btn btn-primary mt-4"
              >
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
