<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-4">
          <div class="text-muted text-center mt-2">
            <small
              >Reset Password for <strong>{{ email }}</strong></small
            >
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <ng-container *ngIf="isVerified">
            <div class="text-center">
              <div class="p-2 mb-2">
                Your Account was successfully verified. <br />
                You can now login
              </div>
              <button class="btn btn-primary" (click)="login()">Login</button>
            </div>
          </ng-container>
          <ng-container *ngIf="!isVerified">
            <div class="text-center">
              <div class="error_msg" *ngIf="verifyMsg">
                <small>{{ verifyMsg }}</small>
              </div>
              <div *ngIf="!verifyMsg" class="p-2 mb-2">
                Verifying...
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
