<nb-card>
    <nb-card-header>
        Create Mission
    </nb-card-header>
    <nb-card-body>
        <span *ngIf="errorMessageMission" style="color: red;">
            {{ errorMessageMission }}
        </span>
        <span *ngIf="successMessageMission" style="color: green;">
            {{ successMessageMission }}
        </span>
        <form (submit)="createMission()" [formGroup]=" missionForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Title</label>
                <div class="col-md-9">
                    <input formControlName="title" type="text" name="text-input" class="form-control"
                        placeholder="Mission Title ">
                    <div style="color: red" *ngIf="title.hasError('required')">
                        * Titre obligatoire!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Categorie de mission</label>
                <div class="col-md-9">
                    <select (change)="onChange($event.target.value)" id="select1" name="select1" class="form-control">
                        <option [selected]="currentType==0" value="0">Choisir</option>
                        <option [selected]="currentType==1" value="1">FORMATION</option>
                        <option [selected]="currentType==2" value="2">AUDIT</option>
                        <option [selected]="currentType==3" value="3">CONSULTING</option>
                        <option [selected]="currentType==4" value="4">AUTRE</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select3">Type</label>
                <div class="col-md-9">
                    <select (change)="onChangeCategorie($event.target.value)" id="select3" name="select3" class="form-control">
                        <option [selected]="currentCategorie==0" value="0">Choisir</option>
                        <option [selected]="currentCategorie==1" value="1">EN DISTANCIEL</option>
                        <option [selected]="currentCategorie==2" value="2">EN PRESENTIEL</option>
                    
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                   Specialité:</label>
                <div class="col-md-9">
                    <input formControlName="technologies" type="text" name="text-input" class="form-control"
                        placeholder="technologies">
                    <div style="color: red" *ngIf="technologies.hasError('required')">
                        * Specialité!
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Competence</label>
                <div class="col-md-9">
                    <ngx-select [multiple]="true" [items]="skills" [optionTextField]="'label'" [autoClearSearch]="true"
                        placeholder="No skills selected" name="test" (selectionChanges)="doSelectOptions($event)">
                    </ngx-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Niveau d'experience</label>
                <div class="col-md-9">
                    <select (change)="onChangeLevel($event.target.value)" id="select1" name="select1"
                        class="form-control">
                        <option [selected]="currentLevel==0" value="0">experience level</option>
                        <option [selected]="currentLevel==1" value="1">JUNIOR</option>
                        <option [selected]="currentLevel==2" value="2">SENIOR</option>
                        <option [selected]="currentLevel==3" value="3">EXPERT</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Start Date</label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="startDate" nbInput placeholder="Start Date"
                        [nbDatepicker]="formpicker">
                    <nb-datepicker #formpicker></nb-datepicker>
                    <div style="color: red" *ngIf=" startDate.hasError('required')">
                        * Date Debut obligatoire!
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    End Date</label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="endDate" nbInput placeholder="End Date"
                        [nbDatepicker]="formpicker1">
                    <nb-datepicker #formpicker1></nb-datepicker>
                    <div style="color: red" *ngIf=" endDate.hasError('required')">
                        *Date Fin  obligatoire!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Jr-homme</label>
                <div class="col-md-9">
                    <input formControlName="period" type="number" name="text-input" class="form-control"
                        placeholder="Nombre de jours-homme de la mission">
                    <div style="color: red" *ngIf=" period.hasError('required')">
                        * Nombre Jr-homme!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Adresse</label>
                <div class="col-md-9">
                    <input formControlName="address" type="text" name="text-input" class="form-control"
                        placeholder=" emplacement">
                    <div style="color: red" *ngIf="address.hasError('required')">
                        * Emplacement du client!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Description</label>
                <div class="col-md-9">
                    
                    <textarea rows="5" cols="30" wrap="soft|hard" formControlName="description" class="form-control" type="textarea"
                        name="textarea" placeholder="Description of mission"></textarea>
                    <div style="color: red" *ngIf="description.hasError('required')">
                        * description obligatoire!
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Telecharger le plan de mission</label>
                <div class="col-md-9">
                    <input style="width: 300px;" type="file" name="file" class="form-control" 
                        (change)="onFileChanged($event)" />
                    <div style="color: red" *ngIf="!selectedFile">
                      
                    </div>
                </div>
            </div>




            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                  Selectionnez Client</label>
                <div class="col-md-9">
                    <div class="form-control">
                        <ng-container *ngIf="!selectedUser">
                            N/A
                        </ng-container>
                        <ng-container *ngIf="selectedUser">
                            <dt> {{selectedUser.firstName}} {{selectedUser.lastName}} ({{selectedUser.email}}) </dt>
                        </ng-container>
                    </div>
                    <div style="color: red" *ngIf="!selectedUser">
                        * Client obligatoire!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <ng2-smart-table (userRowSelect)="onSelectUser($event)" [settings]="settings" [source]="userSource">
                </ng2-smart-table>
            </div>
            <button type="submit" class="btn btn-sm btn-primary mr-2"><i class="fa fa-dot-circle-o"></i>
                creation</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
         

            </form>
    </nb-card-body>
</nb-card>