<nb-card>
    <nb-card-header>
        Create Mission
    </nb-card-header>
    <nb-card-body>
        <span *ngIf="errorMessageMission" style="color: red;">
            {{ errorMessageMission }}
        </span>
        <span *ngIf="successMessageMission" style="color: green;">
            {{ successMessageMission }}
        </span>
        <form (submit)="createMission()" [formGroup]=" missionForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Title</label>
                <div class="col-md-9">
                    <input formControlName="title" type="text" name="text-input" class="form-control"
                        placeholder="Mission Title ">
                    <div style="color: red" *ngIf="title.hasError('required')">
                        * Title is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Type of mission</label>
                <div class="col-md-9">
                    <select (change)="onChange($event.target.value)" id="select1" name="select1" class="form-control">
                        <option [selected]="currentType==0" value="0">selected please</option>
                        <option [selected]="currentType==1" value="1">FORMATION</option>
                        <option [selected]="currentType==2" value="2">AUDIT</option>
                        <option [selected]="currentType==3" value="3">CONSULTING</option>
                        <option [selected]="currentType==4" value="4">AUTRE</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    technologies</label>
                <div class="col-md-9">
                    <input formControlName="technologies" type="text" name="text-input" class="form-control"
                        placeholder="technologies">
                    <div style="color: red" *ngIf="technologies.hasError('required')">
                        * technologies is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    technologies</label>
                <div class="col-md-9">
                    <ngx-select [multiple]="true" [items]="skills" [optionTextField]="'label'" [autoClearSearch]="true"
                        placeholder="No skills selected" name="test" (selectionChanges)="doSelectOptions($event)">
                    </ngx-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">experience level</label>
                <div class="col-md-9">
                    <select (change)="onChangeLevel($event.target.value)" id="select1" name="select1"
                        class="form-control">
                        <option [selected]="currentLevel==0" value="0">experience level</option>
                        <option [selected]="currentLevel==1" value="1">JUNIOR</option>
                        <option [selected]="currentLevel==2" value="2">SENIOR</option>
                        <option [selected]="currentLevel==3" value="3">EXPERT</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Start Date</label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="startDate" nbInput placeholder="Start Date"
                        [nbDatepicker]="formpicker">
                    <nb-datepicker #formpicker></nb-datepicker>
                    <div style="color: red" *ngIf=" startDate.hasError('required')">
                        * Start Date is required!
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    End Date</label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="endDate" nbInput placeholder="End Date"
                        [nbDatepicker]="formpicker1">
                    <nb-datepicker #formpicker1></nb-datepicker>
                    <div style="color: red" *ngIf=" endDate.hasError('required')">
                        * End Date is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Period</label>
                <div class="col-md-9">
                    <input formControlName="period" type="number" name="text-input" class="form-control"
                        placeholder="Period">
                    <div style="color: red" *ngIf=" period.hasError('required')">
                        * Period is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Address</label>
                <div class="col-md-9">
                    <input formControlName="address" type="text" name="text-input" class="form-control"
                        placeholder=" emplacement">
                    <div style="color: red" *ngIf=" address.hasError('required')">
                        * Address is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Description</label>
                <div class="col-md-9">
                    <textarea rows="5" formControlName="description" class="form-control" type="textarea"
                        name="textarea" placeholder="Description of mission"></textarea>
                    <div style="color: red" *ngIf="description.hasError('required')">
                        * description is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Selected Client</label>
                <div class="col-md-9">
                    <div class="form-control">
                        <ng-container *ngIf="!selectedUser">
                            N/A
                        </ng-container>
                        <ng-container *ngIf="selectedUser">
                            <dt> {{selectedUser.firstName}} {{selectedUser.lastName}} ({{selectedUser.email}}) </dt>
                        </ng-container>
                    </div>
                    <div style="color: red" *ngIf="!selectedUser">
                        * User Is is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <ng2-smart-table (userRowSelect)="onSelectUser($event)" [settings]="settings" [source]="userSource">
                </ng2-smart-table>
            </div>
            <button type="submit" class="btn btn-sm btn-primary mr-2"><i class="fa fa-dot-circle-o"></i>
                create mission</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </form>
    </nb-card-body>
</nb-card>