<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row"></div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="card shadow">
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
      <p class="text-white">Loading...</p>
    </ngx-spinner>
    <div class="card-header">
      User Details
    </div>
    <div class="card-body">
      <div class="bd-example">
        <div class="row">
          <div class="col">
            <div class="text-center p-4">
              <div class="update-message card p-2" *ngIf="updateSuccessMsg">
                <p class="success-msg">
                  {{ updateSuccessMsg }}
                </p>
                <button (click)="hideSuccessMsg()" class="btn btn-message">
                  &times;
                </button>
              </div>
              <div class="update-message card p-2" *ngIf="updateErrorMsg">
                <p class="error-msg">
                  {{ updateErrorMsg }}
                </p>
                <button (click)="hideErrorMsg()" class="btn btn-message">
                  &times;
                </button>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="user">
          <div class="row">
            <div class="col-md-5 col-sm-4 col-lg-4">
              <div style="text-align: center;">
                <div style="margin-bottom: 20px; height: 150px;">
                  <img class="profile-img"
                    src="{{ user.file ||'https://www.clipartmax.com/png/full/171-1717870_stockvader-predicted-cron-for-may-user-profile-icon-png.png'}}"
                    alt="" />
                </div>
                <a class="btn btn-block btn-light" (click)="toggleEdit()" target="_self">
                  {{ editable ? 'Cancel Edit' : 'Edit' }}
                </a>
                <a class="btn btn-block btn-light" (click)="onSaveChanges()" *ngIf="editable" target="_self">
                  Save Changes
                </a>
              </div>
            </div>
            <div class="col-md-7 col-sm-8 col-lg-8">
              <div style="margin-top: 30px;">
                <h3>{{ user.lastName |titlecase}} {{ user.firstName |titlecase }}</h3>
                <ng-container *ngIf="editable">
                  <div class="row">
                    <div class="col-6">
                      <dt>Last Name</dt>
                      <input name="username" [(ngModel)]="userEdit.lastName" type="text" class="form-control"
                        placeholder="Username" />
                    </div>
                    <div class="col-6">
                      <dt>First Name</dt>
                      <input name="username" [(ngModel)]="userEdit.firstName" type="text" class="form-control mb-2"
                        placeholder="Username" />
                    </div>
                  </div>
                </ng-container>
              </div>
              <div style="margin-top: 15px;">
                <dt>Role</dt>
                <span>
                  {{ user.role }}
                </span>
              </div>
              <div style="margin-top: 15px;">
                <div class="row">
                  <div class="col-6">
                    <dt>Email</dt>
                    <dd>
                      <ng-container *ngIf="!editable">
                        {{ user.email }}
                      </ng-container>
                      <ng-container *ngIf="editable">
                        <input name="email" [(ngModel)]="userEdit.email" type="text" class="form-control"
                          placeholder="email" />
                      </ng-container>
                    </dd>
                  </div>
                  <div class="col-6">
                    <dt>Numero de telephone</dt>
                    <dd>
                      <ng-container *ngIf="!editable">
                        {{ user.phonenumber }}
                      </ng-container>
                      <ng-container *ngIf="editable">
                        <input name="phonenumber" [(ngModel)]="userEdit.phonenumber" type="text" class="form-control"
                          placeholder="Num telephone" />
                      </ng-container>
                    </dd>
                  </div>

                
                

                  <div  class="col-6">
                    <dt>Pays de naissance</dt>
                    <dd>
                      <ng-container *ngIf="!editable">
                        {{ user.paysd }}
                      </ng-container>
                      <ng-container *ngIf="editable">
                        <input name="paysd" [(ngModel)]="userEdit.paysd" type="text" class="form-control"
                          placeholder="pays de naissance" />
                      </ng-container>
                    </dd>
                  </div>
                  <div  class="col-6">
                    <dt>Pays de residence</dt>
                    <dd>
                      <ng-container *ngIf="!editable">
                        {{ user.pays }}
                      </ng-container>
                      <ng-container *ngIf="editable">
                        <input name="pays" [(ngModel)]="userEdit.pays" type="text" class="form-control"
                          placeholder="pays de residence" />
                      </ng-container>
                    </dd>
                  </div>

                
                  <div class="col-6">
                    <dt>ville de residence</dt>
                    <dd>
                      <ng-container *ngIf="!editable">
                        {{ user.ville }}
                      </ng-container>
                      <ng-container *ngIf="editable">
                        <input name="ville" [(ngModel)]="userEdit.ville" type="text" class="form-control"
                          placeholder="ville de residence" />
                      </ng-container>
                    </dd>
                  </div>

                  <div class="col-6" *ngIf="user.role!='CLIENT'">
                    <dt>situation social</dt>
                    <ng-container *ngIf="!editable">
                      <dd>{{ user.situation }}</dd>
                    </ng-container>
                    <ng-container *ngIf="editable">
                      <textarea name="situation" [(ngModel)]="userEdit.situation" type="text" class="form-control"
                        placeholder="situation social"> </textarea>
                    </ng-container>
                  </div>
    
                  <div class="col-6" >
                    <dt>adresse</dt>
                    <ng-container *ngIf="!editable">
                      <dd>{{ user.adress}}</dd>
                    </ng-container>
                    <ng-container *ngIf="editable">
                      <textarea name="adress" [(ngModel)]="userEdit.adress" type="text" class="form-control"
                        placeholder="adresse"> </textarea>
                    </ng-container>
                  </div>


                </div>
                <div class="row">
                  <div class="col-6">
                    <dt>Photo</dt>
                    <dd *ngIf="!user.certif">
                      Telecharger Photo
                    </dd>
                    <input style="overflow: hidden;" type="file" (change)="onImageChanged($event)" />
                    <button (click)="onUploadImage()" class="btn btn-sm btn-info my-2"> Telecharger photo</button>
                  </div>


                  
                  <div class="col-6" *ngIf="user.role!='CLIENT'">
                    <dt>CV</dt>
                    <dd *ngIf="user.cv">
                      <a href="{{ user.cv }}" target="_blank">Afficher</a>
                    </dd>
                    <dd *ngIf="!user.cv">
                      pas de cv
                    </dd>
                    <input style="overflow: hidden;" type="file" name="files" (change)="onFileChanged($event)" />
                    <button (click)="onUploadCv()" class="btn btn-sm btn-info my-2" [disabled]="!selectedFile"> Telecharger
                      Cv</button>
                  </div>
                </div>

           
                <div class="row">
                <div class="col-6" *ngIf="user.role!='CLIENT'">

                <dt>Certif</dt>
                <dd *ngIf="user.certif">
                  <a href="{{ user.certif }}" target="_blank">Afficher</a>
                </dd>
                <dd *ngIf="!user.certif">
                  pas de certif
                </dd>
                <input style="overflow: hidden;" style="width: 300px;" type="file" class="form-control" name="file"
                  (change)="onFileChangedC($event)" />
                <button (click)="onUploadCertif()" class="btn btn-sm btn-info my-2" [disabled]="!selectedFileC"> Upload
                  Certif</button>
                </div>

                <div class="col-6" *ngIf="user.role=='PROVIDER'">
                  <dt>TJM en presentiel</dt>
                  <dd>
                    <ng-container *ngIf="!editable">
                      {{ user.tjme }} Dinars
                    </ng-container>
                    <ng-container *ngIf="editable">
                      <input name="tjme" [(ngModel)]="userEdit.tjme" type="text" class="form-control"
                        placeholder="Tjme" />
                    </ng-container>
                  </dd>
                </div>

             

              
                  <div class="col-6" *ngIf="user.role!='ADMIN'" >
                    <dt>Nombre d'année d'experience</dt>
                    <dd>
                      <ng-container *ngIf="!editable">
                        {{ user.yearsExperience }} ans
                      </ng-container>
                      <ng-container *ngIf="editable">
                        <input name="yearsExperience" [(ngModel)]="userEdit.yearsExperience" type="text"
                          class="form-control" placeholder="nombre d'année d'experience" />
                      </ng-container>
                    </dd>
                  </div>
                  <div class="col-6" *ngIf="user.role!='PROVIDER'&&user.role!='CLIENT' && user.role!='ADMIN'">
                    <dt>salaire</dt>
                    <dd>
                      <ng-container *ngIf="!editable">
                        {{ user.salaire }} Dinars
                      </ng-container>
                      <ng-container *ngIf="editable">
                        <input name="yearsExperience" [(ngModel)]="userEdit.salaire" type="text" class="form-control"
                          placeholder="salaire" />
                      </ng-container>
                    </dd>
                  </div>
                
                  <div class="col-6" *ngIf="user.role=='PROVIDER'">
                    <dt>TJM en distanciel</dt>
                    <dd>
                      <ng-container *ngIf="!editable">
                        {{ user.tjmd }} Dinars
                      </ng-container>
                      <ng-container *ngIf="editable">
                        <input name="tjmd" [(ngModel)]="userEdit.tjmd" type="text" class="form-control"
                          placeholder="tjmd" />
                      </ng-container>
                    </dd>
  
                  </div>
              </div>
                <div class="form-group row" *ngIf="user.role!='PROVIDER' && user.role!='CLIENT'">
                <dt>Solde de congé valide</dt>
                <ng-container *ngIf="!editable">
                  <dd>{{ user.vacations }} Days</dd>
                </ng-container>
                <ng-container *ngIf="editable">
                  <input name="vacations" [(ngModel)]="userEdit.vacations" type="text" class="form-control"
                    placeholder="Solde de congé" />
                </ng-container>
               </div>
                <div *ngIf="user.role!='CLIENT'">
                <dt>competence:</dt>
                <ng-container *ngFor="let skill of user.skills">
                  <span class="m-1 btn btn-sm btn-primary"> {{skill.label}} </span>
                </ng-container>
                <ng-container *ngIf="!user?.skills?.length">
                  <span class="m-1 btn btn-sm btn-primary"> No Skills </span>
                </ng-container>
                <ng-container *ngIf="editable">
                  <dd> Ajout Competence</dd>
                  <dt>
                    <ngx-select [multiple]="true" [items]="skills" [optionTextField]="'label'" [autoClearSearch]="true"
                      placeholder="Skills non selectionné" name="test" (selectionChanges)="doSelectOptions($event)">
                    </ngx-select>
                  </dt>
                </ng-container></div>
                <div *ngIf="user.role!='CLIENT'">
                  <dt>certifié:</dt>
                  <ng-container *ngFor="let cert of user.certifs">
                    <span class="m-1 btn btn-sm btn-primary"> {{cert.label}} </span>
                  </ng-container>
                  <ng-container *ngIf="!user?.certifs?.length">
                    <span class="m-1 btn btn-sm btn-primary"> pas de certifs</span>
                  </ng-container>
                  <ng-container *ngIf="editable">
                    <dd> Ajout Certification</dd>
                    <dt>
                      <ngx-select [multiple]="true" [items]="certifs" [optionTextField]="'label'" [autoClearSearch]="true"
                        placeholder="Certifs non selectionné" name="test2" (selectionChanges)="doSelectOptionsCertif($event)">
                      </ngx-select>
                    </dt>
                  </ng-container></div>
  

               <div  *ngIf="user.role!='CLIENT'">
                <dt>Formation</dt>
                <mat-form-field appearance="outline" >
                <ng-container class="textarea-text" *ngIf="!editable">
                  <dd>{{ user.formation }}</dd>
                </ng-container>
                
               </mat-form-field>
                <ng-container class="textarea-text" *ngIf="editable">
                  
                  <textarea name="formation" [(ngModel)]="userEdit.formation" type="textarea"  rows="3" class="form-control"
                    placeholder="Formation"> </textarea>
 
                </ng-container>
               </div>
               </div>
                </div>
               </div>
                 </ng-container>

        <div *ngIf="!user">
          <p class="text-center">
            User not found
          </p>
        </div>
      </div>
    </div>




    <nb-card>
      <nb-card-header>Experiences & formations</nb-card-header>
      <nb-card-body>
        <nb-card>
          <nb-card-header>
          </nb-card-header>
          <nb-card-body>
            <ng2-smart-table (userRowSelect)="onClickRow2($event)" [settings]="settings2" [source]="source2">
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>


    
    <nb-card>
      <nb-card-header>Repos</nb-card-header>
      <nb-card-body>
        <nb-card>
          <nb-card-header>
          </nb-card-header>
          <nb-card-body>
            <ng2-smart-table (userRowSelect)="onClickRow($event)" [settings]="settings" [source]="source">
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  
  </div>

</div>