<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row"></div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="card shadow">
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
      <p class="text-white">Loading...</p>
    </ngx-spinner>
    <div class="card-header">
      User Details
    </div>
    <div class="card-body">
      <div class="bd-example">
        <div class="row">
          <div class="col">
            <div class="text-center p-4">
              <div class="update-message card p-2" *ngIf="updateSuccessMsg">
                <p class="success-msg">
                  {{ updateSuccessMsg }}
                </p>
                <button (click)="hideSuccessMsg()" class="btn btn-message">
                  &times;
                </button>
              </div>
              <div class="update-message card p-2" *ngIf="updateErrorMsg">
                <p class="error-msg">
                  {{ updateErrorMsg }}
                </p>
                <button (click)="hideErrorMsg()" class="btn btn-message">
                  &times;
                </button>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="user">
          <div class="row">
            <div class="col-md-5 col-sm-4 col-lg-4">
              <div style="text-align: center;">
                <div style="margin-bottom: 20px; height: 150px;">
                  <img class="profile-img" src="{{
                      user.image ||
                        'https://www.clipartmax.com/png/full/171-1717870_stockvader-predicted-cron-for-may-user-profile-icon-png.png'
                    }}" alt="" />
                </div>
                <a class="btn btn-block btn-light" (click)="toggleEdit()" target="_self">
                  {{ editable ? 'Cancel Edit' : 'Edit' }}
                </a>
              </div>
            </div>
            <div class="col-md-7 col-sm-8 col-lg-8">
              <div style="margin-top: 30px;">
                <h3>{{ user.lastName  |titlecase}} {{ user.firstName |titlecase }}</h3>
                <ng-container *ngIf="editable">
                  <div class="row">
                    <div class="col-6">
                      <dt>Last Name</dt>
                      <input name="username" [(ngModel)]="user.lastName" type="text" class="form-control"
                        placeholder="Username" />
                    </div>
                    <div class="col-6">
                      <dt>First Name</dt>
                      <input name="username" [(ngModel)]="user.firstName" type="text" class="form-control mb-2"
                        placeholder="Username" />
                    </div>
                  </div>
                </ng-container>
              </div>
              <div style="margin-top: 15px;">
                <dt>Role</dt>
                <span>
                  {{ user.role }}
                </span>
              </div>
              <div style="margin-top: 15px;">
                <dt>Email</dt>
                <dd>
                  <ng-container *ngIf="!editable">
                    {{ user.email }}
                  </ng-container>
                  <ng-container *ngIf="editable">
                    <input name="email" [(ngModel)]="user.email" type="text" class="form-control" placeholder="email" />
                  </ng-container>
                </dd>

                <dt>Activated</dt>
                <dd>{{ user.activated }}</dd>

                <dt>Verified</dt>
                <dd>{{ user.verified }}</dd>
                <dt>CV</dt>
                <dd *ngIf="user.cv">
                  <a href="{{ user.cv }}" target="_blank">Preview</a>
                </dd>
                <dd *ngIf="!user.cv">
                  No Resume
                </dd>
                <input style="width: 300px;" type="file" [(ngModel)]="files" class="form-control" name="files"
                  (change)="onFileChanged($event)" />
                <button (click)="onUploadCv()" class="btn btn-sm btn-info my-2" [disabled]="!selectedFile"> Upload
                  Cv</button>
                <dt>Date Ajout</dt>
                <dd>{{ user.createdAt | date: 'MM-dd-yyyy' }}</dd>
                <dt>Formation</dt>
                <dd>
                  <ngx-tiny-mce [(ngModel)]="user.formation"></ngx-tiny-mce>
                </dd>
              </div>
              <div *ngIf="editable">
                <button class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </ng-container>

        <div *ngIf="!user">
          <p class="text-center">
            User not found
          </p>
        </div>
      </div>
    </div>
  </div>

</div>