<nb-card>
    
    <nb-card-header>
        <div class="row">
            <article class="col-md-5">
   


    </article>
    <article class="col-md-5">
        <nb-card-header>
           
        </nb-card-header>
    </article>
        <article class="col-md-5">
        <nb-card-header>
           
        </nb-card-header>
    </article>
</div>
<div class="row">
    <article class="col-md-5">
<h3>Detail de la mission</h3>


</article>

<article class="col-md-5">
<nb-card-header>
   
</nb-card-header>
</article>
</div> 
    </nb-card-header>






    <nb-card-body>
        <span *ngIf="errorMessageMission" style="color: red;">
            {{ errorMessageMission }}
        </span>
        <span *ngIf="successMessageMission" style="color: green;">
            {{ successMessageMission }}
        </span>
        <div class="row">

<article class="col-md-7">


            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Titre :</label>
                <div class="col-md-9">
                    {{mission.title}}
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Type :</label>
                <div class="col-md-9">
                    {{mission.categorie}}
                </div>
            </div>



            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Categorie :</label>
                <div class="col-md-9">
                    {{mission.type}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    technologies</label>
                <div class="col-md-9">
                    {{mission.technologies}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Niveau experience</label>
                <div class="col-md-9">
                    {{mission.level}}
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                     Date Debut </label>
                <div class="col-md-9">
                    {{mission.startDate | date : 'dd-MM-yyyy'}}
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Date Fin</label>
                <div class="col-md-9">
                    {{mission.endDate | date : 'dd-MM-yyyy'}}
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Nbr jours-homme</label>
                <div class="col-md-9">
                    {{mission.period}}
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Emplacement du client</label>
                <div class="col-md-9">
                    {{mission.address}}
                </div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Description</label>
                <div class="col-md-9">
                    {{mission.description}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                   Competences</label>
                <div class="col-md-9">
                    <ng-container *ngFor="let skill of mission.skills">
                        <span class="m-1 btn btn-sm btn-primary"> {{skill.label}} </span>
                    </ng-container>
                </div>
            </div>


           


            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Status</label>
                <div class="col-md-9">
                    
                    <span style="color: rgb(70, 70, 228);" class="mr-2"> {{mission.status}}</span>
                </div>
            </div>
            <div  class="form-check">
                <form class="md-form my-3">
               
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="mission.planfile" >
                <label class="form-check-label" for="flexCheckDefault">Plan mission  </label>  
                    <input  style="overflow: hidden;" type="file" name="files" (change)="onFileChangePlanfile($event)" [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'"  />
            
            
                <dd >
                    <button (click)="onUploadPlanMission()" class="btn btn-sm btn-info my-2" [disabled]="!selectedPlanFile" [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" > ajout
                        Plan de la mission</button>
                    <a *ngIf = "mission.planfile" href="{{ mission.planfile }}" target="_blank">Afficher le plan</a>
                  
                  </dd>
            
            
                
            </form>
            </div>

                   <div *ngIf="mission.user" class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Email collaborateur:</label>
                        <div> 
                    <span> {{mission.user.email}}</span></div>
            </div>


            <div class="form-group row" *ngIf="currentUser.role=='RH'">
                <ng-container>
                    <div class="d-flex flex-wrap justify-content-start">
                        <button *ngIf="mission.status=='EN OPTION'" (click)="onBlock()" class="btn btn-dark btn-sm mx-3">
                            Blocker les dates Mission</button>
                        <button *ngIf="mission.status=='BLOCKER'" (click)="onConfirm()"
                            class="btn btn-success btn-sm mx-3">Confirmer Mission</button>

                        <button *ngIf="mission.status=='CONFIRMER'" (click)="onCancel()"
                            class="btn btn-danger btn-sm mx-3">Quiter Mission</button>
                        <button *ngIf="mission.status!='CONFIRMER' && mission.status!='LIBRE'"
                            (click)="onAvailable()" class="btn btn-info btn-sm mx-3">Liberer mission</button>
                    </div>
                </ng-container> 
            </div>
            <div *ngIf="currentUser.role == 'EMPLOYEE' || currentUser.role == 'PROVIDER'">
                <div class="d-flex flex-wrap justify-content-start" *ngIf="mission.status == 'LIBRE'">
                    <button (click)=" onAcceptInvitation()" class="btn btn-success btn-sm">Accepter Invitation</button>
                </div>
            </div>



             

        </article>

        

<article class=col-md-5 *ngIf="mission.status == 'CONFIRMER'||mission.status == 'REALISER'||mission.status == 'BLOCKER'">

    

    <h4>Situation administrative</h4>
    
   

<div  class="form-check">
   
    <form class="md-form my-3">
   
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="mission.bonfile" >
    <label class="form-check-label" for="flexCheckDefault">Bon de commande  </label>     
     <input style="overflow: hidden;" type="file" name="files" (change)="onFileChanged($event)" [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'"  />


    <dd>
        <button (click)="onUploadBonfile()" class="btn btn-sm btn-info my-2" [disabled]="!selectedFileBonfile" [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" > ajout
            Bon commande fichier</button>
        <a *ngIf = "mission.bonfile" href="{{ mission.bonfile }}" target="_blank">Afficher</a>
      
      </dd> 


    
</form>
</div>
<div class="form-check">
    <form class="md-form my-3">
   
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="mission.visa" >
    <label class="form-check-label" for="flexCheckDefault">Visa  </label>    
      <input style="overflow: hidden;" type="file" name="files" (change)="onFileChangedVisa($event)" [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" />


    <dd>
        <button (click)="onUploadBonVisa()" class="btn btn-sm btn-info my-2" [disabled]="!selectedFileVisa" [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" > ajout
           Visa fichier</button>
        <a *ngIf ="mission.visa"  href="{{ mission.visa }}" target="_blank">Afficher</a>
      
      </dd>


    
</form>
</div>



<div class="form-check">
    <form class="md-form my-3">
   
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="mission.devise" >
    <label class="form-check-label" for="flexCheckDefault">Devise  </label>  
        <input style="overflow: hidden;" type="file" name="files" (change)="onFileChangedDevise($event)" />


    <dd>
        <button (click)="onUploadBonDevise()" class="btn btn-sm btn-info my-2" [disabled]="!selectedFileDevise"> ajout
            Devise fichier</button>
        <a *ngIf = "mission.devise" href="{{ mission.devise }}" target="_blank">Afficher</a>
      
      </dd>


    
</form>
</div>




<div class="form-check">
    <form class="md-form my-3">
   
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="mission.transport" >
    <label class="form-check-label" for="flexCheckDefault">Transport  </label> 
        
    
    <input style="overflow: hidden;" type="file" name="files" (change)="onFileChangedTransport($event)" />


    <dd>
        <button (click)="onUploadBonTransport()" class="btn btn-sm btn-info my-2" [disabled]="!selectedFileTransport"> ajout
            Transport fichier</button>
        <a  *ngIf = "mission.transport" href="{{ mission.transport }}" target="_blank">Afficher</a>
      
      </dd>


    
</form>
</div>


<div class="form-check">
    <form class="md-form my-3">
   
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="mission.logement" >
    <label class="form-check-label" for="flexCheckDefault">Logement </label>    
     
      <input style="overflow: hidden;" type="file" name="files" (change)="onFileChangedLogement($event)" />


    <dd>
        <button (click)="onUploadBonLogement()" class="btn btn-sm btn-info my-2" [disabled]="!selectedFileLogement"> ajout
            Logement fichier</button>
        <a *ngIf = "mission.logement" href="{{ mission.logement }}" target="_blank">Afficher</a>
      
      </dd>


    
</form>
</div>


</article>



</div>



<div *ngIf="mission.status=='REALISER'" class="row">


   Tva : 
   <br>
   <input type="text" [(ngModel)]= "tva">
   <br>
   Tarif client par unité:

   <br> 
       <input type="text" [(ngModel)]= "tarifclient">

       <br>
    
       le total Hors Taxe  : 
       {{totalht}}

le total  TTC : 
{{totalttc}}



  

</div>




<div *ngIf="mission.status=='CONFIRMER'" class="row">


    Tva : 
    <br>
    <input type="text" [(ngModel)]= "tvaf">
    <br>
    
 
      
 
        <br>
     
        le total Hors Taxe  : 
        {{totalhtf}}
 
 le total  TTC : 
 {{totalttcf}}
 
 
 </div>
 <div *ngIf="mission.status=='CONFIRMER'">
    <button (click)="totalttcMethodeFournisseur()">Calculer TotalTTc</button>
</div>
<div *ngIf="mission.status=='REALISER'">
    <button (click)="tarifMethode()">Calculer TotalTTc</button>
</div>

<div *ngIf="mission.status=='REALISER'">

<button (click)="generateFacturePdf()">generate  Facture client</button>


</div>
<div *ngIf="mission.status=='BLOCKER' || mission.status=='CONFIRMER'  " class="row">
    <button (click)="generatePdfboncommande()">generate  Bon de commande fournisseur</button>
    </div>


    </nb-card-body>
</nb-card>
<nb-card *ngIf="currentUser.role == 'RH' || currentUser.role == 'ADMIN'">
    <nb-card-header>
        Invited Employees
    </nb-card-header>
    <nb-card-body>
        <ng-container *ngIf="!mission?.suggestion?.length">
            No Invited Employees
        </ng-container>     
        <div *ngFor="let user of mission?.suggestion">
            <div>
                <span>{{user.firstName}} {{user.lastName}}</span>
                <ng-container *ngIf="mission.status == 'APPROVED'">
                    <span *ngIf="user.id ==  mission.user?.id" class="mx-2 btn btn-sm btn-success">Approved</span>
                    <span *ngIf="user.id != mission.user?.id" class="mx-2 btn btn-sm btn-danger">Declined</span>
                </ng-container>
                <button (click)="viewProfile(user)" class="btn btn-info btn-sm mx-2"> viewProfile
                </button>
                <ng-container *ngIf="mission.status == 'LIBRE'">
                    <button (click)="onRemoveInvite(user)" class="btn btn-danger btn-sm  mx-2">Remove
                        Invitation</button>
                </ng-container>
            </div>
            <hr>
        </div>
    </nb-card-body>
</nb-card>
<ng-container *ngIf="currentUser.role == 'RH' || currentUser.role == 'ADMIN'">
    <nb-card *ngIf="mission.status == 'LIBRE'">
        <nb-card-header>
            Suggest Employee
        </nb-card-header>
        <nb-card-body>
            <ng-container *ngIf="errorLogin">
                <small style="color: red;">{{ errorLogin }}</small>
            </ng-container>
            <ng2-smart-table (custom)="onCustomAction($event)" [settings]="settings" [source]="userSource">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</ng-container>