<nb-card>
    <nb-card-header>
        Mission Details
    </nb-card-header>
    <nb-card-body>
        <span *ngIf="errorMessageMission" style="color: red;">
            {{ errorMessageMission }}
        </span>
        <span *ngIf="successMessageMission" style="color: green;">
            {{ successMessageMission }}
        </span>
        <div class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Title</label>
                <div class="col-md-9">
                    {{mission.title}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Type of mission</label>
                <div class="col-md-9">
                    {{mission.type}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    technologies</label>
                <div class="col-md-9">
                    {{mission.technologies}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">experience level</label>
                <div class="col-md-9">
                    {{mission.level}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Start Date</label>
                <div class="col-md-9">
                    {{mission.startDate | date : 'dd-MM-yyyy'}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    End Date</label>
                <div class="col-md-9">
                    {{mission.endDate | date : 'dd-MM-yyyy'}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Period</label>
                <div class="col-md-9">
                    {{mission.period}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Address</label>
                <div class="col-md-9">
                    {{mission.address}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Description</label>
                <div class="col-md-9">
                    {{mission.description}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Skills</label>
                <div class="col-md-9">
                    <ng-container *ngFor="let skill of mission.skills">
                        <span class="m-1 btn btn-sm btn-primary"> {{skill.label}} </span>
                    </ng-container>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea">
                    Status</label>
                <div class="col-md-9">
                    <span class="mr-2"> {{mission.status}}</span>
                    <span>
                        <ng-container *ngIf="mission.user">
                            {{mission.user.email}} 
                        </ng-container>
                    </span>
                </div>
            </div>
            <div class="form-group row" *ngIf="currentUser.role=='RH'">
                <ng-container>
                    <div class="d-flex flex-wrap justify-content-start">
                        <button *ngIf="mission.status=='OPTION'" (click)="onBlock()"
                            class="btn btn-dark btn-sm mx-3">Block Mission</button>
                        <button *ngIf="mission.status=='BLOCKED'" (click)="onConfirm()"
                            class="btn btn-success btn-sm mx-3">Confirm Mission</button>
                           
                        <button *ngIf="mission.status=='BLOCKED'||mission.status=='CONFIRMED'" (click)="onAvailable()"
                            class="btn btn-danger btn-sm mx-3">Cancel Mission</button>
                        <button *ngIf="mission.status!='CONFIRMED' && mission.status!='AVAILABLE'"
                            (click)="onAvailable()" class="btn btn-info btn-sm mx-3">Available</button>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="currentUser.role == 'EMPLOYEE' || currentUser.role == 'PROVIDER'">
                <div class="d-flex flex-wrap justify-content-start" *ngIf="mission.status == 'AVAILABLE'">
                    <button (click)=" onAcceptInvitation()" class="btn btn-success btn-sm">Accept Invitation</button>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card *ngIf="currentUser.role == 'RH' || currentUser.role == 'ADMIN'">
    <nb-card-header>
        Invited Employees
    </nb-card-header>
    <nb-card-body>
        <ng-container *ngIf="!mission?.suggestion?.length">
            No Invited Employees
        </ng-container>
        <div *ngFor="let user of mission?.suggestion">
            <div>
                <span>{{user.firstName}} {{user.lastName}}</span>
                <ng-container *ngIf="mission.status == 'APPROVED'">
                    <span *ngIf="user.id ==  mission.user?.id" class="mx-2 btn btn-sm btn-success">Approved</span>
                    <span *ngIf="user.id != mission.user?.id" class="mx-2 btn btn-sm btn-danger">Declined</span>
                </ng-container>
                <button (click)="viewProfile(user)" class="btn btn-info btn-sm mx-2"> viewProfile
                    </button>
                <ng-container *ngIf="mission.status == 'AVAILABLE'">
                    <button (click)="onRemoveInvite(user)" class="btn btn-danger btn-sm  mx-2">Remove
                        Invitation</button>
                </ng-container>
            </div>
            <hr>
        </div>
    </nb-card-body>
</nb-card>
<ng-container *ngIf="currentUser.role == 'RH' || currentUser.role == 'ADMIN'">
    <nb-card *ngIf="mission.status == 'AVAILABLE'">
        <nb-card-header>
            Suggest Employee
        </nb-card-header>
        <nb-card-body>
            <ng-container *ngIf="errorLogin">
                <small style="color: red;">{{ errorLogin }}</small>
            </ng-container>
            <ng2-smart-table (custom)="onCustomAction($event)" [settings]="settings" [source]="userSource">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</ng-container>