<nb-card>
    <nb-card-header>
        détail de l'offre de mission
        <!-- AddToAny BEGIN -->
        <div>
            <div><a class="btn btn-sm btn-primary text-white"  href="https://www.facebook.com/sharer.php?u={{link}}">Partager sur Facebook</a></div>
            <div><a class="btn btn-sm btn-info text-white" href="https://twitter.com/intent/tweet?url={{link}}">Partager sur Twitter</a></div>
            <div><a class="btn btn-sm btn-warning text-white" href="https://www.linkedin.com/shareArticle?mini=true&url=google.com">Partager sur LinkedIn</a></div>

        </div>
    </nb-card-header>
    <nb-card-header>
        <div class="row">
            <article class="col-md-5">

            </article>
            <article class="col-md-5">
                <nb-card-header>

                </nb-card-header>
            </article>
            <article class="col-md-5">
                <nb-card-header>

                </nb-card-header>
            </article>
        </div>
        <div class="row">
            <article class="col-md-5">
                <h3>Detail de la mission</h3>


            </article>

            <article class="col-md-5">
                <nb-card-header>

                </nb-card-header>
            </article>
        </div>
    </nb-card-header>






    <nb-card-body>
        <span *ngIf="errorMessageMission" style="color: red;">
            {{ errorMessageMission }}
        </span>
        <span *ngIf="successMessageMission" style="color: green;">
            {{ successMessageMission }}
        </span>
        <div class="row">

            <article class="col-md-7">


                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Titre :</label>
                    <div class="col-md-9">
                        {{mission.title}}
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select1">Type :</label>
                    <div class="col-md-9">
                        {{mission.categorie}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select1">Categorie :</label>
                    <div class="col-md-9">
                        {{mission.type}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">
                        technologies</label>
                    <div class="col-md-9">
                        {{mission.technologies}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select1">Niveau experience</label>
                    <div class="col-md-9">
                        {{mission.level}}
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">
                        Date Debut </label>
                    <div class="col-md-9">
                        {{mission.startDate | date : 'dd-MM-yyyy'}}
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">
                        Date Fin</label>
                    <div class="col-md-9">
                        {{mission.endDate | date : 'dd-MM-yyyy'}}
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">
                        Nbr jours-homme</label>
                    <div class="col-md-9">
                        {{mission.period}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">
                        Emplacement du client</label>
                    <div class="col-md-9">
                        {{mission.address}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="textarea">
                        Description</label>
                    <div class="col-md-9">
                        {{mission.description}}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">
                        Competences</label>
                    <div class="col-md-9">
                        <ng-container *ngFor="let skill of mission.skills">
                            <span class="m-1 btn btn-sm btn-primary"> {{skill.label}} </span>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="textarea">
                        Status</label>
                    <div class="col-md-9">

                        <span style="color: rgb(70, 70, 228);" class="mr-2"> {{mission.status}}</span>
                    </div>
                </div>
                <div *ngIf="mission.user" class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Email collaborateur:</label>
                    <div>
                        <span> {{mission.user.email}}</span>
                    </div>
                </div>
                <div class="form-check">
                    <form class="md-form my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [checked]="mission.planfile">
                        <label class="form-check-label" for="flexCheckDefault">Plan mission </label>
                        <input style="overflow: hidden;" type="file" name="files"
                            (change)="onFileChangePlanfile($event)"
                            [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" />
                        <dd>
                            <button (click)="onUploadPlanMission()" class="btn btn-sm btn-info my-2"
                                [disabled]="!selectedPlanFile"
                                [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'"> ajout
                                Plan de la mission</button>
                            <a *ngIf="mission.planfile" href="{{ mission.planfile }}" target="_blank">Afficher le
                                plan</a>
                        </dd>
                    </form>
                </div>
                <div class="form-group row" *ngIf="currentUser.role=='RH'">
                    <ng-container>
                        <div class="d-flex flex-wrap justify-content-start">
                            <button *ngIf="mission.status=='EN OPTION'" (click)="onBlock()"
                                class="btn btn-dark btn-sm mx-3">
                                Blocker les dates Mission</button>
                            <button *ngIf="mission.status=='BLOCKER'" (click)="onConfirm()"
                                class="btn btn-success btn-sm mx-3">Confirmer Mission</button>

                            <button *ngIf="mission.status=='CONFIRMER'" (click)="onCancel()"
                                class="btn btn-danger btn-sm mx-3">Quiter Mission</button>
                            <button *ngIf="mission.status!='CONFIRMER' && mission.status!='LIBRE'"
                                (click)="onAvailable()" class="btn btn-info btn-sm mx-3">Liberer mission</button>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="currentUser.role == 'EMPLOYEE' || currentUser.role == 'PROVIDER'">
                    <div class="d-flex flex-wrap justify-content-start" *ngIf="mission.status == 'LIBRE'">
                        <button (click)="onAcceptInvitation()" class="btn btn-success btn-sm">Accepter
                            Invitation</button>
                            <button (click)="onRefuseInvitationToMission(user)" class="btn btn-success btn-danger">Refuser
                                Invitation</button>
                    </div>
                </div>
            </article>
            <article class=col-md-5
                *ngIf="mission.status =='CONFIRMER'|| mission.status == 'REALISER'|| mission.status == 'BLOCKER'|| mission.status == 'EN COURS'">
                <h4>Situation administrative</h4>
                <div class="form-check">
                    <form class="md-form my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [checked]="mission.bonfile">
                        <label class="form-check-label" for="flexCheckDefault">Bon de commande </label>
                        <input style="overflow: hidden;" type="file" name="files" (change)="onFileChanged($event)"
                            [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" />

                        <dd>
                            <button (click)="onUploadBonfile()" class="btn btn-sm btn-info my-2"
                                [disabled]="!selectedFileBonfile"
                                [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'"> ajout
                                Bon commande fichier</button>
                            <a *ngIf="mission.bonfile" href="{{ mission.bonfile }}" target="_blank">Afficher</a>
                        </dd>
                    </form>
                </div>
                <div class="form-check">
                    <form class="md-form my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [checked]="mission.visa">
                        <label class="form-check-label" for="flexCheckDefault">Visa </label>
                        <input style="overflow: hidden;" type="file" name="files" (change)="onFileChangedVisa($event)"
                            [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" />
                        <dd>
                            <button (click)="onUploadBonVisa()" class="btn btn-sm btn-info my-2"
                                [disabled]="!selectedFileVisa"
                                [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'"> ajout
                                Visa fichier</button>
                            <a *ngIf="mission.visa" href="{{ mission.visa }}" target="_blank">Afficher</a>
                        </dd>
                    </form>
                </div>
                <div class="form-check">
                    <form class="md-form my-3">

                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [checked]="mission.devise">
                        <label class="form-check-label" for="flexCheckDefault">Devise </label>
                        <input style="overflow: hidden;" type="file" name="files" (change)="onFileChangedDevise($event)"
                            [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" />
                        <dd>
                            <button (click)="onUploadBonDevise()" class="btn btn-sm btn-info my-2"
                                [disabled]="!selectedFileDevise"
                                [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'"> ajout
                                Devise fichier</button>
                            <a *ngIf="mission.devise" href="{{ mission.devise }}" target="_blank">Afficher</a>
                        </dd>
                    </form>
                </div>
                <div class="form-check">
                    <form class="md-form my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [checked]="mission.transport">
                        <label class="form-check-label" for="flexCheckDefault">Transport </label>
                        <input style="overflow: hidden;" type="file" name="files"
                            (change)="onFileChangedTransport($event)"
                            [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" />
                        <dd>
                            <button (click)="onUploadBonTransport()" class="btn btn-sm btn-info my-2"
                                [disabled]="!selectedFileTransport"
                                [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'"> ajout
                                Transport fichier</button>
                            <a *ngIf="mission.transport" href="{{ mission.transport }}" target="_blank">Afficher</a>
                        </dd>
                    </form>
                </div>
                <div class="form-check">
                    <form class="md-form my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [checked]="mission.logement">
                        <label class="form-check-label" for="flexCheckDefault">Logement </label>

                        <input style="overflow: hidden;" type="file" name="files"
                            (change)="onFileChangedLogement($event)"
                            [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'" />
                        <dd>
                            <button (click)="onUploadBonLogement()" class="btn btn-sm btn-info my-2"
                                [disabled]="!selectedFileLogement"
                                [hidden]="currentUser.role !='OPERATIONAL' && currentUser.role !='ADMIN'"> ajout
                                Logement fichier</button>
                            <a *ngIf="mission.logement" href="{{ mission.logement }}" target="_blank">Afficher</a>
                        </dd>
                    </form>
                </div>
            </article>
        </div>
        <nb-card *ngIf="currentUser.role !='PROVIDER' && currentUser.role !='EMPLOYEE' ">
            <nb-card-header>
                Creation facture et bon de commande
            </nb-card-header>
            <nb-card-body>
                <div *ngIf="mission.status=='REALISER' " class="row">
                    <div
                        *ngIf="currentUser.role=='OPERATIONAL' || currentUser.role=='ADMIN' || currentUser.role=='COMMERCIAL' ">
                        Numero facture :
                        <br>
                        <input type="text" [(ngModel)]="numFacture">
                        <br>

                        Tva :
                        <br>
                        <input type="text" [(ngModel)]="tva">

                        <br>
                        Tarif client par unité:
                        <br>

                        <input type="text" [(ngModel)]="tarifclient">
                        <br>
                        Designation:
                        <br>
                        <textarea rows="5" cols="30" wrap="soft|hard" type="textarea"
                            [(ngModel)]="designation"></textarea>
                        <br>
                        <div>
                            <div *ngIf="mission.status=='REALISER'">
                                <button class="btn btn-info btn-sm mx-3" (click)="tarifMethode()">Calculer Total
                                    Ht&TTC</button>
                            </div>
                            <div>
                                <br>
                                le total Hors Taxe :
                                {{totalht}}
                            </div>
                            <div>
                                <br>
                                le total TTC :
                                {{totalttc}}
                            </div>

                        </div>
                    </div>
                </div>
                <div *ngIf="mission.status=='CONFIRMER'" class="row">
                    <div
                        *ngIf="currentUser.role=='OPERATIONAL' || currentUser.role=='ADMIN' || currentUser.role=='COMMERCIAL' ">
                        Numero bon de commande :
                        <br>
                        <input type="text" [(ngModel)]="numFacture">
                        <br>
                        Tva fournisseur :
                        <br>
                        <input type="text" [(ngModel)]="tva">

                        <br>
                        Designation:
                        <br>
                        <textarea rows="5" cols="30" wrap="soft|hard" type="textarea"
                            [(ngModel)]="designation"></textarea>

                        <br>
                        <div *ngIf="mission.status=='CONFIRMER'">
                            <button class="btn btn-info btn-sm mx-3" (click)="totalttcMethodeFournisseur()">Calculer
                                Total HT&TTC</button>
                        </div>
                        <div>
                            <br>
                            le total Hors Taxe :
                            {{totalhtf}}
                        </div>
                        <div>
                            <br>
                            le total TTC :
                            {{totalttcf}}
                            <br>
                        </div>
                    </div>
                </div>
                <div
                    *ngIf="mission.status=='REALISER'&& currentUser.role !='EMPLOYEE' && currentUser.role !='PROVIDER' && currentUser.role !='COMMERCIAL'">

                    <button class="btn btn-success btn-sm" (click)="generateFacturePdf()">Generer Facture
                        client</button>
                </div>
                <div>
                </div>
                <div *ngIf="mission.status=='CONFIRMER' && currentUser.role !='EMPLOYEE' && currentUser.role !='PROVIDER' && currentUser.role !='COMMERCIAL'  "
                    class="row">
                    <button class="btn btn-success btn-sm " (click)="generatePdfboncommande()">Generer Bon de
                        commande fournisseur</button>
                </div>
                
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>

<nb-card *ngIf="currentUser.role == 'RH'||currentUser.role == 'OPERATIONAL'|| currentUser.role == 'ADMIN'">
    <nb-card-header>
        Collaborateurs invités
    </nb-card-header>
    <nb-card-body>
        <ng-container *ngIf="!mission?.suggestion?.length">
            pas de collaborateurs invités </ng-container>
        <div *ngFor="let user of mission?.suggestion">
            <div>
                <span>{{user.firstName}} {{user.lastName}}</span>
                <ng-container *ngIf="mission.status == 'APPROVED'">
                    <span *ngIf="user.id ==  mission.user?.id" class="mx-2 btn btn-sm btn-success">Approuver</span>
                    <span *ngIf="user.id != mission.user?.id" class="mx-2 btn btn-sm btn-danger">Refuser</span>
                </ng-container>
                <button (click)="viewProfile(user)" class="btn btn-info btn-sm mx-2"> Voir profile
                </button>
                <ng-container *ngIf="mission.status == 'LIBRE'">
                    <button (click)="onRemoveInvite(user)" class="btn btn-danger btn-sm  mx-2">Annuler
                        Invitation</button>
                </ng-container>
            </div>
            <hr>
        </div>
    </nb-card-body>
</nb-card>


<nb-card
    *ngIf="currentUser.role == 'RH' || currentUser.role == 'ADMIN' || currentUser.role == 'OPERATIONAL' && mission.status=='LIBRE'">
    <nb-card-header>
        quiz affecté
    </nb-card-header>
    <nb-card-body>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea">
                Quiz</label>
            <div class="col-md-9">
                <span>
                    <ng-container *ngIf="mission.quiz">
                        <strong>{{mission.quiz.title}} </strong>
                        <button class="m-1 btn btn-sm btn-info" (click)="goToQuiz2(mission.quiz)">afficher</button>
                        <button class="m-1 btn btn-sm btn-danger" (click)="onUnAssign2()">supprimer</button>
                    </ng-container>
                    <ng-container *ngIf="!mission.quiz"> N/A </ng-container>
                </span>
            </div>
        </div>



    </nb-card-body>
</nb-card>

<ng-container *ngIf="currentUser.role == 'RH' || currentUser.role == 'ADMIN' || currentUser.role == 'OPERATIONAL' ">
    <nb-card *ngIf="mission.status == 'LIBRE'">
        <nb-card-header>
            Collaborateurs suggérés
        </nb-card-header>
        <nb-card-body>
            <ng-container *ngIf="errorLogin">
                <small style="color: red;">{{ errorLogin }}</small>
            </ng-container>
            <ng2-smart-table (custom)="onCustomAction($event)" [settings]="settings" [source]="userSource">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</ng-container>

<ng-container
    *ngIf="(currentUser.role == 'RH' || currentUser.role == 'ADMIN'|| currentUser.role == 'OPERATIONAL') && !mission.quiz">
    <nb-card>
        <nb-card-header>
            Quiz suggérés
        </nb-card-header>
        <nb-card-body>
            <ng-container *ngIf="errorLogin">
                <small style="color: red;">{{ errorLogin }}</small>
            </ng-container>
            <ng2-smart-table (custom)="onCustomAction2($event)" [settings]="settings2" [source]="quizSource2">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</ng-container>

<nb-card
    *ngIf="currentUser.role == 'RH' || currentUser.role == 'ADMIN' || currentUser.role == 'OPERATIONAL' && mission.status =='LIBRE' ">
    <nb-card-header>
        Liste des candidatures
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="responseSettings2" [source]="responseSource2">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>