<nb-card>
    <nb-card-header>
        Creation une demande de congé 
        <ng-container *ngIf="user">
            || Solde des conges: {{user.vacations}}
            

        </ng-container>

    </nb-card-header>
    <nb-card-body>
        <span *ngIf="errorMessageMission" style="color: red;">
            {{ errorMessageMission }}
        </span>
        <span *ngIf="successMessageMission" style="color: green;">
            {{ successMessageMission }}
        </span>
        <form (submit)="createMission()" [formGroup]="vacationForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Titre</label>
                <div class="col-md-9">
                    <input formControlName="title" type="text" name="text-input" class="form-control"
                        placeholder="Titre de la demande ">
                    <div style="color: red" *ngIf="title.hasError('required')">
                        * Titre obligatoire!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Type de demande</label>
                <div class="col-md-9">
                    <select (change)="onChange($event.target.value)" id="select1" name="select1" class="form-control">
                        <option [selected]="currentType==0" value="0">selected please</option>
                        <option [selected]="currentType==1" value="1">Repos</option>
                        <option [selected]="currentType==2" value="2">Maladie</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Date debut de congé</label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="startDate" nbInput placeholder="Start Date"
                        [nbDatepicker]="formpicker">
                    <nb-datepicker #formpicker></nb-datepicker>
                    <div style="color: red" *ngIf="startDate.hasError('required')">
                        * Date Debut Obligatoire!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Date de fin de congé</label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="endDate" nbInput placeholder=" Date fin de congé"
                        [nbDatepicker]="formpicker1">
                    <nb-datepicker #formpicker1></nb-datepicker>
                    <div style="color: red" *ngIf="endDate.hasError('required')">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Nombre de jours</label>
                <div class="col-md-9">
                    <input formControlName="period" type="number" name="text-input" class="form-control"
                        placeholder="Att:Samedi&Diamnce non inclus!exemple:7 jours inclus samedi dimanche tapez 5 jours ">
                    <div style="color: rgb(199, 192, 192)" *ngIf="period.hasError('required')">
                        * Nombre de jours obligatoire!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Telecharger Document de preuve</label>
                <div class="col-md-9">
                    <input style="width: 300px;" type="file" class="form-control" name="dde"
                        (change)="onFileChanged($event)" />
                    <div style="color: red" *ngIf="!selectedFile">
                    *Vous pouvez l'ajouter a travers le détail
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-sm btn-primary mr-2"><i class="fa fa-dot-circle-o"></i>
                Ajout Repos</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>

        </form>
    </nb-card-body>
</nb-card>