<nb-card>
    <nb-card-header>
        User Create
    </nb-card-header>
    <nb-card-body>
        <span *ngIf="errorMessageUser" style="color: red;">
            {{ errorMessageUser }}
        </span>
        <span *ngIf="successMessageUser" style="color: green;">
            {{ successMessageUser }}
        </span>
        <form (submit)="createUser()" [formGroup]="userForm" class="form-horizontal">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">First Name</label>
                <div class="col-md-9">
                    <input formControlName="firstName" type="text" name="text-input" class="form-control"
                        placeholder="First Name">
                    <div style="color: red" *ngIf="firstName.hasError('required') && firstName.touched">
                        * First Name is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Last Name</label>
                <div class="col-md-9">
                    <input formControlName="lastName" type="text" name="text-input" class="form-control"
                        placeholder="Last Name">
                    <div style="color: red" *ngIf="lastName.hasError('required') && lastName.touched">
                        * Last Name is required!
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Role</label>
                <div class="col-md-9">
                    <select (change)="onChange($event.target.value)" id="select1" name="select1" class="form-control">
                        <option [selected]="currentRole==0" value="0">Please select</option>
                        <option [selected]="currentRole==1" value="1">Employee</option>
                        <option [selected]="currentRole==2" value="2">RH</option>
                        <option [selected]="currentRole==3" value="3">Provider</option>
                        <option [selected]="currentRole==4" value="4">Operational</option>
                        <option [selected]="currentRole==5" value="5">Commercial</option>
                        <option [selected]="currentRole==6" value="6">CLIENT</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">Formation</label>
                <div class="col-md-9">
                    <select (change)="onChangeFormation($event.target.value)" id="select1" name="select1"
                        class="form-control">
                        <option [selected]="currentFormation==0" value="0">select formation</option>
                        <option [selected]="currentFormation==1" value="1">Bac</option>
                        <option [selected]="currentFormation==2" value="2">Bac+2</option>
                        <option [selected]="currentFormation==3" value="3">Bac+3</option>
                        <option [selected]="currentFormation==4" value="4">Bac+4</option>
                        <option [selected]="currentFormation==5" value="5">Bac+5</option>
                        <option [selected]="currentFormation==6" value="6">doctorant(e)</option>
                        <option [selected]="currentFormation==7" value="7">autre</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    years of experience</label>
                <div class="col-md-9">
                    <input formControlName="yearsExperience" type="number" name="text-input" class="form-control"
                        placeholder="years experience">
                    <div style="color: red" *ngIf=" yearsExperience.hasError('required') &&  yearsExperience.touched">
                        * years experience 
                    </div>
                </div>
            </div>
            
            <div *ngIf="currentRole!=3" class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Salaire</label>
                <div class="col-md-9">
                    <input formControlName="salaire" type="number" name="text-input" class="form-control"
                        placeholder="dinar salary">
                    <div style="color: red" *ngIf=" salaire.hasError('required') &&  salaire.touched">
                        * Salaire dont forget!
                    </div>
                </div>
            </div>

            <div *ngIf="currentRole==3" class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                   TJM en Presenciel</label>
                <div class="col-md-9">
                    <input formControlName="tjme" type="number" name="text-input" class="form-control"
                        placeholder="Tarif Jour homme en Presenciel">
                    <div style="color: red" *ngIf=" tjme.hasError('required') &&  tjme.touched">
                        * TJM is required!
                    </div>
                </div>
            </div>

            <div *ngIf="currentRole==3" class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                   TJM en Distanciel</label>
                <div class="col-md-9">
                    <input formControlName="tjmd" type="number" name="text-input" class="form-control"
                        placeholder="Tarif Jour homme en Distanciel">
                    <div style="color: red" *ngIf=" tjmd.hasError('required') &&  tjmd.touched">
                        * TJM is required!
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Date of birth </label>
                <div class="col-md-9">
                    <input class="form-control" formControlName="dateBirth" nbInput placeholder="Date of birth"
                        [nbDatepicker]="formpicker">
                    <nb-datepicker #formpicker></nb-datepicker>
                    <div style="color: red" *ngIf="dateBirth.hasError('required') && dateBirth.touched">
                        * Date birth is required!
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Adress</label>
                <div class="col-md-9">
                    <input formControlName="adress" type="text" name="text-input" class="form-control"
                        placeholder="Adress">
                    <div style="color: red" *ngIf="adress.hasError('required') && adress.touched">
                        * Adresse is required!
                    </div>
                </div>
            </div>


        

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
                <div class="col-md-9">
                    <input formControlName="email" type="email" id="email-input" class="form-control"
                        placeholder="Enter Email">
                    <div style="color: red" *ngIf="email.hasError('required') && email.touched">
                        * Email is required!</div>
                    <div style="color: red" *ngIf="email.hasError('pattern') && email.touched">
                        * This email format is invalid!</div>
                    <span class="help-block">Please enter your email</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Phone Number</label>
                <div class="col-md-9">
                    <input formControlName="phonenumber" type="text" name="text-input" class="form-control"
                        placeholder="phone Number">
                    <div style="color: red" *ngIf="phonenumber.hasError('required') && phonenumber.touched">
                        * phone number is required!
                    </div>
                </div>
            </div>

            

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password-input">Password</label>
                <div class="col-md-9">
                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                    <div style="color: red" *ngIf="password.hasError('required') && password.touched">
                        * Password is required!</div>
                    <span class="help-block">Please enter a complex password</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password-input">Confirm Password</label>
                <div class="col-md-9">
                    <input formControlName="confirmPassword" type="password" class="form-control"
                        placeholder="confirmPassword">
                    <div style="color: red" *ngIf="confirmPassword.touched">
                        <div *ngIf="confirmPassword.hasError('required')">
                            * Confirm Password is required!
                        </div>
                        <div *ngIf="confirmPassword.hasError('mustMatch')">
                            * Password must Match!
                        </div>
                    </div>
                    <span class="help-block">Please repeat your password</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">
                    Competences</label>
                <div class="col-md-9">
                    <ngx-select [multiple]="true" [items]="skills" [optionTextField]="'label'" [autoClearSearch]="true"
                        placeholder="No skills selected" name="test" (selectionChanges)="doSelectOptions($event)">
                    </ngx-select>
                </div>
            </div>

            <button type="submit" class="btn btn-sm btn-primary mr-2"><i class="fa fa-dot-circle-o"></i>
                Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </form>
    </nb-card-body>
</nb-card>