<nb-card>
    <nb-card-header>
        Creation d'un utilisateur
    </nb-card-header>
    <nb-card-body>

        <span *ngIf="errorMessageUser" style="color: red;">
            {{ errorMessageUser }}
        </span>
        <span *ngIf="successMessageUser" style="color: green;">
            {{ successMessageUser }}
        </span>

        <form (submit)="createUser()" [formGroup]="userForm" class="form-horizontal">

            <h1>Données personelles</h1>


            <div class="row">


                <div class="col-md-5">




                    <div class="form-group row">


                        <label class="col-md-3 col-form-label" for="text-input">Prenom:</label>


                        <div class="col-md-9">
                            <input formControlName="firstName" type="text" name="text-input" class="form-control"
                                placeholder="First Name">
                            <div style="color: red" *ngIf="firstName.hasError('required') && firstName.touched">
                                * Prenom obligatoire!
                            </div>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Nom:</label>
                        <div class="col-md-9">
                            <input formControlName="lastName" type="text" name="text-input" class="form-control"
                                placeholder="Last Name">
                            <div style="color: red" *ngIf="lastName.hasError('required') && lastName.touched">
                                * Nom obligatoire!
                            </div>
                        </div>
                    </div>




                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Role:</label>
                        <div class="col-md-9">
                            <select (change)="onChange($event.target.value)" id="select1" name="select1"
                                class="form-control">
                                <option [selected]="currentRole==0" value="0">Please select</option>
                                <option [selected]="currentRole==1" value="1">Employee</option>
                                <option [selected]="currentRole==2" value="2">RH</option>
                                <option [selected]="currentRole==3" value="3">Provider</option>
                                <option [selected]="currentRole==4" value="4">Operational</option>
                                <option [selected]="currentRole==5" value="5">Commercial</option>
                                <option [selected]="currentRole==6" value="6">CLIENT</option>
                                <option [selected]="currentRole==7" [hidden]="currentUser.role!='ADMIN'" value="7">ADMIN
                                </option>

                            </select>
                        </div>
                    </div>

                    <div *ngIf="currentRole==3" class="form-group row">
                        <label class="col-md-3 col-form-label" for="select12">Type fournisseur:</label>
                        <div class="col-md-9">
                            <select (change)="onChangeProvider($event.target.value)" id="select12" name="select12"
                                class="form-control">
                                <option [selected]="currentProvider==0" value="0">choisir type fournisseur</option>
                                <option [selected]="currentProvider==1" value="1">Moral</option>
                                <option [selected]="currentProvider==2" value="2">Physique</option>

                            </select>
                        </div>
                    </div>


                    <div *ngIf="currentRole!=6" class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Genre:</label>
                        <div class="col-md-9">
                            <select (change)="onChangeGender($event.target.value)" id="select1" name="select1"
                                class="form-control">
                                <option [selected]="currentGender==0" value="0">choisir genre</option>
                                <option [selected]="currentGender==1" value="1">masculin</option>
                                <option [selected]="currentGender==2" value="2">feminin</option>

                            </select>
                        </div>
                    </div>

                    <div *ngIf="currentRole!=6" class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Situation sociale:</label>
                        <div class="col-md-9">
                            <select (change)="onChangeSituation($event.target.value)" id="select1" name="select1"
                                class="form-control">
                                <option [selected]="currentSituation==0" value="0">choisir</option>
                                <option [selected]="currentSituation==1" value="1">célibataire</option>
                                <option [selected]="currentSituation==2" value="2">marié(e)</option>
                                <option [selected]="currentSituation==3" value="3">divorcé(e)</option>
                                <option [selected]="currentSituation==4" value="4">veuf</option>
                                <option [selected]="currentSituation==6" value="6">veuve</option>
                                <option [selected]="currentSituation==5" value="5">Autre</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Date of birth </label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="dateBirth" nbInput placeholder="Date of birth"
                                [nbDatepicker]="formpicker">
                            <nb-datepicker #formpicker></nb-datepicker>
                            <div style="color: red" *ngIf="dateBirth.hasError('required') && dateBirth.touched">
                                * Date birth is required!
                            </div>
                        </div>
                    </div>


                </div>







                <div class="col-md-5 col-md-offset-5">




                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Pays de naissance:</label>
                        <div class="col-md-9">
                            <input formControlName="paysd" type="text" name="text-input" class="form-control"
                                placeholder="Pays de naissance">
                            <div style="color: red" *ngIf="paysd.hasError('required') && paysd.touched">
                                * Pays d'origine!'
                            </div>
                        </div>
                    </div>




                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Pays de résidence:</label>
                        <div class="col-md-9">
                            <input formControlName="pays" type="text" name="text-input" class="form-control"
                                placeholder="Pays">
                            <div style="color: red" *ngIf="pays.hasError('required') && pays.touched">
                                * Pays de résidence obligatoire
                            </div>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Ville:</label>
                        <div class="col-md-9">
                            <input formControlName="ville" type="text" name="text-input" class="form-control"
                                placeholder="ville de résidence">
                            <div style="color: red" *ngIf="ville.hasError('required') && ville.touched">
                                * ville obligatoire
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Adresse:</label>
                        <div class="col-md-9">
                            <input formControlName="adress" type="text" name="text-input" class="form-control"
                                placeholder="Adresse">
                            <div style="color: red" *ngIf="adress.hasError('required') && adress.touched">

                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Numéro de Telephone:</label>
                        <div class="col-md-9">
                            <input formControlName="phonenumber" type="text" name="text-input" class="form-control"
                                placeholder="phone Number">
                            <div style="color: red" *ngIf="phonenumber.hasError('required') && phonenumber.touched">
                                * phone number is required!
                            </div>
                        </div>
                    </div>









                    <div *ngIf="currentRole!=6 " class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Formation:</label>
                        <div class="col-md-9">

                            <select (change)="onChangeFormation($event.target.value)" id="select1" name="select1"
                                class="form-control">
                                <option [selected]="currentFormation==0" value="0">select formation</option>
                                <option [selected]="currentFormation==1" value="1">Bac</option>
                                <option [selected]="currentFormation==2" value="2">Bac+2</option>
                                <option [selected]="currentFormation==3" value="3">Bac+3</option>
                                <option [selected]="currentFormation==4" value="4">Bac+4</option>
                                <option [selected]="currentFormation==5" value="5">Bac+5</option>
                                <option [selected]="currentFormation==6" value="6">doctorant(e)</option>
                                <option [selected]="currentFormation==7" value="7">autre</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <h1>Données professionnelle</h1>
            <span class="my-2">
                Competance :
            </span>
            <ngx-select *ngIf="currentRole!=6" class="my-3" [multiple]="true" [items]="skills"
                [optionTextField]="'label'" [autoClearSearch]="true" placeholder="pas de competence selectionné"
                name="test" (selectionChanges)="doSelectOptions($event)">
            </ngx-select>
            <div class="row mt-3">


                <div class="col-md-5">



                    <div class="form-group row">

                        <label class="col-md-3 col-form-label" for="email-input">Email:</label>
                        <div class="col-md-9">
                            <input formControlName="email" type="email" id="email-input" class="form-control"
                                placeholder="Enter Email">
                            <div style="color: red" *ngIf="email.hasError('required') && email.touched">
                                * Email is required!</div>
                            <div style="color: red" *ngIf="email.hasError('pattern') && email.touched">
                                * This email format is invalid!
                                <span class="help-block">Please enter your email</span>
                            </div>
                        </div>

                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Nombre d'année d'experience</label>
                        <div class="col-md-9">
                            <input formControlName="yearsExperience" type="number" name="text-input"
                                class="form-control" placeholder="years experience">
                            <div style="color: red"
                                *ngIf=" yearsExperience.hasError('required') &&  yearsExperience.touched">
                                * years experience
                            </div>
                        </div>
                    </div>

                    <div *ngIf="currentRole!=6 && currentRole!=3" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Salaire:</label>
                        <div class="col-md-9">
                            <input formControlName="salaire" type="number" name="text-input" class="form-control"
                                placeholder="dinar salary">
                            <div style="color: red" *ngIf=" salaire.hasError('required') &&  salaire.touched">
                                * Salaire dont forget!
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Date collaboration</label>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="startDate" nbInput
                                placeholder="Date Debut de colloboration ou d'emploi" [nbDatepicker]="formpicker5">
                            <nb-datepicker #formpicker5></nb-datepicker>
                            <div style="color: red" *ngIf="startDate.hasError('required') && startDate.touched">
                                * Date debut obligatoire
                            </div>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="password-input">Password :</label>
                        <div class="col-md-9">
                            <input formControlName="password" type="password" class="form-control"
                                placeholder="Password">
                            <div style="color: red" *ngIf="password.hasError('required') && password.touched">
                                * Mot de passe est obligatoire!</div>
                            <span class="help-block">veuillez saisir mot de passe complexe</span>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="password-input">Confirm password :</label>
                        <div class="col-md-9">
                            <input formControlName="confirmPassword" type="password" class="form-control"
                                placeholder="confirmPassword">
                            <div style="color: red" *ngIf="confirmPassword.touched">
                                <div *ngIf="confirmPassword.hasError('required')">
                                    * confirmez Mot de passe!
                                </div>
                                <div *ngIf="confirmPassword.hasError('mustMatch')">
                                    * Mot de passe n'est pas identique!
                                </div>
                            </div>
                            <span class="help-block">Resaisir Mot de passe</span>
                        </div>
                    </div>




                </div>







                <div class="col-md-5 col-md-offset-5">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            matricule : </label>
                        <div class="col-md-9">
                            <input formControlName="immatricule" type="text" name="text-input" class="form-control"
                                placeholder="matricule fiscale  || cnss">
                            <div style="color: red" *ngIf=" immatricule.hasError('required') &&  immatricule.touched">

                            </div>
                        </div>
                    </div>
                    <div *ngIf="currentRole!=6 && currentRole!=3" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Solde des congés :</label>
                        <div class="col-md-9">
                            <input formControlName="vacations" type="number" name="text-input" class="form-control"
                                placeholder="solde des conges valide par default 0">
                            <div style="color: red" *ngIf=" vacations.hasError('required') &&  vacations.touched">

                            </div>
                        </div>
                    </div>


                    <div *ngIf="currentRole!=6 " class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Numéro cin:</label>
                        <div class="col-md-9">
                            <input formControlName="cin" type="text" name="text-input" class="form-control"
                                placeholder="NUMERO CIN">
                            <div style="color: red" *ngIf=" cin.hasError('required') &&  cin.touched">

                            </div>
                        </div>
                    </div>






                    <div *ngIf="currentRole==3" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Tjm en Presenciel</label>
                        <div class="col-md-9">
                            <input formControlName="tjme" type="number" name="text-input" class="form-control"
                                placeholder="Tarif Jour homme en Presenciel">
                            <div style="color: red" *ngIf=" tjme.hasError('required') &&  tjme.touched">
                                * TJM is required!
                            </div>
                        </div>
                    </div>
                    <div *ngIf="currentRole==3" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Tjm en Distanciel</label>
                        <div class="col-md-9">
                            <input formControlName="tjmd" type="number" name="text-input" class="form-control"
                                placeholder="Tarif Jour homme en Distanciel">
                            <div style="color: red" *ngIf=" tjmd.hasError('required') &&  tjmd.touched">
                                * TJM is required!
                            </div>
                        </div>
                    </div>


                    <div *ngIf="currentRole!=6 && currentRole!=3" class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">
                            Solde conges</label>
                        <div class="col-md-9">
                            <input formControlName="vacationmaladie" type="number" name="text-input"
                                class="form-control" placeholder=" solde de congé maladie actuelle de cet employee">
                            <div style="color: red"
                                *ngIf=" vacationmaladie.hasError('required') &&  vacationmaladie.touched">

                            </div>
                        </div>
                    </div>


                </div>

            </div>







            <div class="row">

                <button type="submit" class="btn btn-sm btn-primary mr-2"><i class="fa fa-dot-circle-o"></i>
                    Creation</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>


            </div>


        </form>
    </nb-card-body>
</nb-card>